@charset "UTF-8";
/* Обнуление */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-------------------------*/
.live-Search {
  margin-bottom: 40px;
  text-align: center;
  padding-top: 10px;
}

.livesearch {
  width: 60%;
  height: 40px;
  font-size: 25px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: rgb(223, 255, 219);
}

.wrap {
  max-width: 1365px;
  margin: 0 auto;
  text-align: center;
}

.wrapper {
  margin: 5px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 5px;
}

.coffee__item {
  padding: 5px;
  border: 1px solid #000;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 140px 35px 150px 20px;
  grid-template-rows: 140px 35px 150px 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.coffee__img {
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
}

.coffee__name {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.coffee__desc {
  font-style: italic;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin-bottom: 10px;
}

.coffee__ingr {
  position: relative;
  color: rgb(75, 75, 75);
}

.coffee__ingr::before {
  content: "- ingredients:";
  position: absolute;
  top: -20px;
  left: 30px;
  color: #000;
  letter-spacing: 0.4px;
}